<section id ="contact" class="contact-section">

    <h2>Contact</h2>

    <p class="subtitle">
        Feel free to reach out for opportunities, collaboration or project discussions.
    </p>

    <div class="contact-grid">

        <!-- PHONE -->
        <a class="contact-item" href="tel:+916309578226">
            <img src="https://cdn-icons-png.flaticon.com/512/597/597177.png" />
            <span>+91 63095 78226</span>
        </a>

        <!-- EMAIL -->
        <a class="contact-item" href="mailto:vamshigogu68@gmail.com?subject=Portfolio%20Contact&body=Hi%20there," target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/561/561127.png" />
            <span>vamshigogu68@gmail.com</span>
        </a>
        <!-- LOCATION -->
        <div class="contact-item">
            <a class="contact-item" href="https://www.google.com/maps?q=Hyderabad,Telangana" target="_blank"
                rel="noopener noreferrer">

                <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" />
                <span>Hyderabad, Telangana</span>

            </a>
        </div>

        <!-- GITHUB -->
        <a class="contact-item" href="https://github.com/vomshigogu" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" />
            <span>GitHub</span>
        </a>

        <!-- LINKEDIN -->
        <a class="contact-item" href="https://linkedin.com/in/vamshigogu/" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" />
            <span>LinkedIn</span>
        </a>

        <!-- X -->
        <a class="contact-item" href="https://x.com/vamshigoguu" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/5969/5969020.png" />
            <span>X (Twitter)</span>
        </a>

    </div>

</section>