:host {
    display: block;
    margin-left: 280px;
}

.about-section {

    min-height: 100vh;

    padding: 80px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background: white;
}

.about-content {
    max-width: 700px;
}

.about-content h2 {

    font-size: 48px;

    margin-bottom: 20px;
}

.about-content p {

    font-size: 18px;

    line-height: 1.8;

    color: #4b5563;
}

.about-stats {

    display: flex;

    gap: 20px;
}

.stat-card {

    padding: 30px;

    border-radius: 20px;

    background: #f8fafc;

    box-shadow:
      0 10px 30px rgba(0,0,0,0.08);

    text-align: center;
}