:host {
    display: block;
    margin-left: 280px;
}

.hero-section {
    min-height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px;

    background:
linear-gradient(
135deg,
#f8fafc,
#eef2ff,
#dbeafe
);
}

.hero-content {
    max-width: 600px;
}

.intro {
    font-size: 20px;
    color: #6b7280;
}

h1 {
    font-size: 60px;
    margin: 10px 0;
    color: #111827;
}

h2 {
    font-size: 30px;
    color: #2563eb;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    line-height: 1.7;
    color: #4b5563;
}

.hero-buttons {
    margin-top: 30px;
}

.btn-primary,
.btn-secondary {

    padding: 12px 24px;
    border-radius: 10px;
    border: none;

    cursor: pointer;

    margin-right: 12px;
}

.btn-primary:hover {

    transform: translateY(-3px);

    transition: 0.3s;
}

.btn-primary {
    background: #2563eb;
    color: white;
}

.btn-secondary {
    background: white;
    border: 1px solid #d1d5db;
}
.btn-secondary:hover {

    transform: translateY(-3px);

    transition: 0.3s;
}

.hero-cards {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    gap: 20px;
}

.tech-card {

    background: white;

    padding: 30px;

    border-radius: 20px;

    text-align: center;

    font-weight: 600;

    box-shadow:
      0 10px 30px rgba(0,0,0,0.1);

    animation: float 4s ease-in-out infinite;
}
@keyframes float {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}
.tech-card:nth-child(2) {
    animation-delay: 1s;
}

.tech-card:nth-child(3) {
    animation-delay: 2s;
}

.tech-card:nth-child(4) {
    animation-delay: 3s;
}
.tech-card:hover {

    transform: translateY(-10px);

    transition: 0.3s;

    cursor: pointer;
}