<section id="education" class="education-section">

    <h2>My Education</h2>

    <p class="education-description">
        The educational milestones that helped shape my technical expertise, problem-solving mindset, and passion for
        software development.
    </p>

    <div class="timeline">

        <div class="timeline-item">

            <div class="timeline-dot"></div>

            <div class="education-card">

                <span class="year">2022 - 2025</span>

                <h3>Bachelor of Technology (B.Tech)</h3>

                <h4>Computer Science And Engineering</h4>

                <p>
                    Aar Mahaveer Engineering College, Hyderabad, Telangana
                </p>

            </div>

        </div>

        <div class="timeline-item">

            <div class="timeline-dot"></div>

            <div class="education-card">

                <span class="year">2019 - 2022</span>

                <h3>Diploma </h3>

                <p>
                    Government Polytechnic, Kothagudem, Telangana
                </p>

            </div>

        </div>

        <div class="timeline-item">

            <div class="timeline-dot"></div>

            <div class="education-card">

                <span class="year">2018 - 2019</span>

                <h3>SSC</h3>

                <p>
                    Government High School, Burgampahad, Telangana
                </p>

            </div>

        </div>

    </div>

</section>