<div class="sidebar">

    <div class="profile">

        <img
            src="projects/vamshiportopic.jpeg"
            alt="Vamshi Gogu"
            class="profile-img">

        <h2>Vamshi Gogu</h2>

        <p class="role">Full Stack Developer</p>

    </div>

    <nav>
        <ul>
           <li>
    <a href="#home"
       [class.active-link]="activeLink === 'home'"
       (click)="setActive('home')">
       Home
    </a>
</li>

<li>
    <a href="#about"
       [class.active-link]="activeLink === 'about'"
       (click)="setActive('about')">
       About
    </a>
</li>

<li>
    <a href="#education"
       [class.active-link]="activeLink === 'education'"
       (click)="setActive('education')">
       Education
    </a>
</li>

<li>
    <a href="#skills"
       [class.active-link]="activeLink === 'skills'"
       (click)="setActive('skills')">
       Skills
    </a>
</li>

<li>
    <a href="#projects"
       [class.active-link]="activeLink === 'projects'"
       (click)="setActive('projects')">
       Projects
    </a>
</li>

<li>
    <a href="#contact"
       [class.active-link]="activeLink === 'contact'"
       (click)="setActive('contact')">
       Contact
    </a>
</li>
        </ul>
    </nav>

    <div class="social-icons">

        <a href="https://github.com/vomshigogu"
           target="_blank"
           aria-label="GitHub">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
        </a>

        <a href="https://linkedin.com/in/vamshigogu"
           target="_blank"
           aria-label="LinkedIn">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png">
        </a>

        <a href="https://x.com/vamshigogu"
           target="_blank"
           aria-label="X">
            <img src="https://cdn-icons-png.flaticon.com/512/5969/5969020.png">
        </a>

    </div>

</div>