<div class="sidebar">
  <div class="profile">
    <img
      src="https://via.placeholder.com/120"
      alt="Profile"
      class="profile-img">

    <h2>Vamshi Gogu</h2>

    <p>.NET Full Stack Developer</p>
  </div>

  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</div>
