.sidebar {
    width: 280px;
    height: 100vh;
    background: #111827;
    color: white;
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 20px;
    box-sizing: border-box;
}

.profile {
    text-align: center;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

p {
    color: #9ca3af;
}

nav {
    margin-top: 40px;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #60a5fa;
}