<section id="skills" class="skills-section">

    <h2>Tech stack</h2>

    <p>
        My primary tools and technologies for building
        full-stack web applications.
    </p>

    <div class="skills-container">

        <div class="skill-item">
            <i class="devicon-csharp-plain colored"></i>
            C#
        </div>

        <div class="skill-item">
            <i class="devicon-dotnetcore-plain colored"></i>
            ASP.NET Core
        </div>

        <div class="skill-item">
            <i class="fa-solid fa-layer-group"></i>
            MVC
        </div>

        <div class="skill-item">
            <i class="fa-solid fa-globe"></i>
            Web API
        </div>

        <div class="skill-item">
            <i class="devicon-angularjs-plain colored"></i>
            Angular
        </div>

        <div class="skill-item">
            <i class="devicon-typescript-plain colored"></i>
            TypeScript
        </div>

        <div class="skill-item">
            <i class="devicon-microsoftsqlserver-plain colored"></i>
            SQL Server
        </div>

        <div class="skill-item">
            <i class="fa-solid fa-database"></i>
            ADO.NET
        </div>

        <div class="skill-item">
            <i class="fa-solid fa-link"></i>
            Entity Framework
        </div>

        <div class="skill-item">
            <i class="devicon-bootstrap-plain colored"></i>
            Bootstrap
        </div>

        <div class="skill-item">
            <i class="devicon-git-plain colored"></i>
            Git
        </div>

        <div class="skill-item">
            <i class="devicon-github-original"></i>
            GitHub
        </div>

        <div class="skill-item">
            <i class="devicon-html5-plain colored"></i>
            HTML
        </div>

        <div class="skill-item">
            <i class="devicon-css3-plain colored"></i>
            CSS
        </div>
        <div class="skill-item">
            <i class="devicon-javascript-plain colored"></i> 
            JavaScript
        </div>
        <div class="skill-item">
            <i class="devicon-postman-plain colored"></i> 
            Postman
        </div>

    </div>
</section>